RIOT_API_KEY=
COMMUNITY_DRAGON_BASE_URL=https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global
COMMUNITY_DRAGON_LOCALE=es_ar
STATIC_CACHE_TTL_SECONDS=21600
PLAYER_CACHE_TTL_SECONDS=60
HTTP_TIMEOUT_SECONDS=10
